[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=./usr/bin/kafkacow
GenericName[en_GB]=
GenericName=
Icon=icon
MimeType=
Name[en_GB]=kafkacow
Name=kafkacow
StartupNotify=true
Terminal=true
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Development;
